* {
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}

img {
	display: block;
}

#head {
	background-color: #1B2945;
}

#head .header {
	display: flex;
	padding: 12px 15px;
	color: #FFFFFF;
}

#head .hander-left {
	flex: 1;
	display: flex;
}

#head .svgLogin {
	width: 20px;
	height: 20px;
}

#head .leftTitleName {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-left: 8px;
	font-size: 16px
}

#head .rightIcon {
	height: 20px;
	width: 20px;
}

#head .openBtn {
	display: block;
}

#head .closeBtn {
	display: none;
}

#head .rightNavList {
	display: none;
	color: #FFFFFF;
	padding-top: 5px;
	background-color: #1B2945;
}

#head .rightNavItem {
	margin: 0 16px;
	font-size: 14px;
}

#head .rightNavItemTitle {
	display: flex;
	border-bottom: 1px solid #3F495D;
	padding: 14px 0 15.5px;
	margin-bottom: 10px;
}

#head .rightNavItemChild {
	padding: 15px 10px;
	display: none;
}

#head .rightNavItemTitleText {
	flex: 1;
}

#head .listIcon {
	display: none;
}

#head .activeIcon {
	display: block;
}

#head .childListShow {
	display: block;
}

#head .dspF {
	display: flex;
}

#head .startDapp {
	font-size: 14px;
	/* position: fixed; */
	width: 100%;
	/* bottom: 50px; */
}

#head .startDappBtn {
	width: 100%;
	height: 48px;
	border: none;
	border-radius: 8px;
	color: #FFFFFF;
	background-color: #237FF8;
}
